# Scraping Audible website
  ### Genre: Literature and Fiction

In [27]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select
import time
from selenium.webdriver.common.by import By as by
path="C:\\Users\\fathi\\OneDrive\\Desktop\\chromedriver"
obj=webdriver.ChromeOptions()
obj.add_argument(path)
driver=webdriver.Chrome(options=obj)
driver.get("https://www.audible.in/search?node=21881795031&sort=popularity-rank&ref_pageloadid=0ikXKafS1Mx5DLLH&ref=a_cat_Liter_c8_showmore&pf_rd_p=be4f74e4-9068-42fd-9319-73eb8b0c879a&pf_rd_r=SWHKVM2J1SNKRHSFFVXE&pageLoadId=d2Ay0fOyNNOuk5Oq&ref_plink=not_applicable&creativeId=fa240ef5-2ebf-4f43-b1b1-11c01bce5b1b")
book_name=[]
author=[]
narrator=[]
release_date=[]
language=[]
length=[]
no_of_ratings=[]
current_page=1
total_pages=driver.find_element(by.XPATH,'.//ul[contains(@class,"pagingElements")]')
pages=total_pages.find_elements(by.TAG_NAME,"li")
last_page=int(pages[-2].text)
while current_page<=last_page:
    time.sleep(2)
    cont=driver.find_element(by.XPATH,'//div [contains(@class,"adbl-impression-container")]')
    books=cont.find_elements(by.XPATH,'//li [contains(@class,"productListItem")]')


    for i in books:
        book=i.find_element(by.XPATH,'.//h3 [contains(@class,"bc-heading")]').text
        author_name=i.find_element(by.XPATH,'.//li [contains(@class,"authorLabel")]').text
        narrator_name=i.find_element(by.XPATH,'.//li [contains(@class,"narratorLabel")]').text
        date=i.find_element(by.XPATH,'.//li [contains(@class,"releaseDateLabel")]').text
        length_book=i.find_element(by.XPATH,'.//li [contains(@class,"runtimeLabel")]').text
        lang_book=i.find_element(by.XPATH,'.//li [contains(@class,"languageLabel")]').text
        language.append(lang_book)
        length.append(length_book)
        release_date.append(date)
        ratings=i.find_element(by.XPATH,'.//li[contains(@class,"ratingsLabel")]').text
        no_of_ratings.append(ratings)
        narrator.append(narrator_name)
        author.append(author_name)
        book_name.append(book)
    current_page += 1
    next_page_btn = driver.find_element(by.XPATH, '//span[contains(@class,"nextButton")]')
    next_page_btn.click()

In [84]:
import pandas as pd
df=pd.DataFrame({'BookName':book_name,'authorname':author,'narratorname':narrator,'length':length,'language':language,'date':release_date,'ratings':no_of_ratings})

In [85]:
df.shape

(500, 7)

In [86]:
df.tail()

,BookName,authorname,narratorname,length,language,date,ratings
495,Oliver Twist,Written by: Charles Dickens,Narrated by: Martin Jarvis,Length: 16 hrs and 17 mins,Language: English,Release Date: 25-01-06,4.5 out of 5 stars\n14 ratings
496,The Count of Monte Cristo,Written by: Alexandre Dumas,Narrated by: Bill Homewood,Length: 52 hrs and 41 mins,Language: English,Release Date: 04-08-11,5 out of 5 stars\n35 ratings
497,The Memory Police,"Written by: Yoko Ogawa, Stephen Snyder - trans...",Narrated by: Traci Kato-Kiriyama,Length: 9 hrs and 8 mins,Language: English,Release Date: 19-10-23,Not rated yet
498,Daisy Darker,Written by: Alice Feeney,Narrated by: Stephanie Racine,Length: 10 hrs and 54 mins,Language: English,Release Date: 18-08-22,4 out of 5 stars\n36 ratings
499,Edge of Eternity,Written by: Ken Follett,Narrated by: John Lee,Length: 36 hrs and 51 mins,Language: English,Release Date: 16-09-14,5 out of 5 stars\n24 ratings

In [87]:
obj.headless=True # to avoid opening browser again and again

### DATASET CLEANING

In [88]:
df.BookName.sample(10)

383                         20,000 Leagues Under the Sea
125                        The Alchemist (Tamil Edition)
407                                    Crime on the Fens
452                                     Parthiban Kanavu
379                          Slayers: A Buffyverse Story
374                               She Who Became the Sun
454                  Aunts Aren't Gentlemen (Unabridged)
205                            Sevasadan [Service House]
32                                  Bookshops & Bonedust
365    Zindagi Wo Jo Aap Banaayen [Life Is What You M...
Name: BookName, dtype: object

In [89]:
df["bookname"]=df["BookName"].apply(lambda x:x.split('(')[0])

In [90]:
df.bookname.sample(10)

252                                The Devil Wears Prada
404                                           Beach Read
399                                  Poirot Investigates
195                                             Dark Age
314    The Ultimate Horror Collection: 60+ Novels and...
352            Blackadder: The Complete Collected Series
106                                   The Feast of Roses
329                        The Virginia Woolf Collection
17                              Vivekanand [Vivekananda]
303                                  The Gathering Storm
Name: bookname, dtype: object

In [91]:
df.authorname.str.split(":")

0                           [Written by,  Ashwin Sanghi]
1                        [Written by,  Munshi Premchand]
2                       [Written by,  Acharya Chatursen]
3                             [Written by,  Ken Cuperus]
4             [Written by,  Shirtaloon, Travis Deverell]
                             ...
495                       [Written by,  Charles Dickens]
496                       [Written by,  Alexandre Dumas]
497    [Written by,  Yoko Ogawa, Stephen Snyder - tra...
498                          [Written by,  Alice Feeney]
499                           [Written by,  Ken Follett]
Name: authorname, Length: 500, dtype: object

In [92]:
df["authorname"]=df["authorname"].apply(lambda x:x.split(':')[1])

In [93]:
df["authorname"].sample(10)

71                   Pierce Brown
72      J. M. Barlog, Cory Barlog
389                Sidney Sheldon
354                  George Eliot
250            James Hadley Chase
401             Viet Thanh Nguyen
251                     Andy Weir
361                 Rebecca Serle
152                 Ashwin Sanghi
446                         Kalki
Name: authorname, dtype: object

In [94]:
df["narratorname"]=df["narratorname"].apply(lambda x:x.split(':')[1])

In [95]:
df["narratorname"].sample(10)

282                        Manish Dangardive
167                             Jeff Woodman
321                            Sri Srinivasa
328                          Soneela Nankani
455     Charlotte Claremont, Gregory Salinas
141               Joe Arden, Maxine Mitchell
401                            Francois Chau
305                            Bombay Kannan
477              Ron McLarty, Orlagh Cassidy
400                              John Pether
Name: narratorname, dtype: object

In [96]:
df["length"]=df["length"].apply(lambda x:x.split(':')[1])

In [83]:
df["length"].sample(10)

16       6 hrs and 36 mins
76      16 hrs and 23 mins
147      5 hrs and 46 mins
325     29 hrs and 47 mins
95      11 hrs and 10 mins
64                  20 hrs
232      7 hrs and 19 mins
414     30 hrs and 53 mins
411     12 hrs and 40 mins
175       5 hrs and 5 mins
Name: length, dtype: object

In [97]:
df["length"].str.split('and')[1][1].split('mins')[0]

' 44 '

In [98]:
df["hours"]=df["length"].apply(lambda x:x.split('hrs')[0])

In [104]:
df["hours"]

0       17
1        7
2       23
3        3
4       25
       ...
495     16
496     52
497      9
498     10
499     36
Name: hours, Length: 500, dtype: object

In [124]:
df["language"]=df["language"].apply(lambda x:x.split(':')[1])

In [125]:
df["language"]

0         Hindi
1         Hindi
2         Hindi
3       English
4       English
         ...
495     English
496     English
497     English
498     English
499     English
Name: language, Length: 500, dtype: object

In [126]:
df["date"]=df["date"].apply(lambda x:x.split(':')[1])

In [129]:
df["date"]=pd.to_datetime(df["date"])

In [130]:
df["date"]

0     2023-10-31
1     2021-07-19
2     2020-10-06
3     2023-08-11
4     2023-11-28
         ...
495   2006-01-25
496   2011-04-08
497   2023-10-19
498   2022-08-18
499   2014-09-16
Name: date, Length: 500, dtype: datetime64[ns]

In [131]:
df["year"]=df["date"].dt.year

In [132]:
df["year"].sample()

222    2020
Name: year, dtype: int64

In [133]:
df["month"]=df["date"].dt.month_name()

In [134]:
df.month.sample()

238    February
Name: month, dtype: object

In [135]:
def func(x):
    if x in ['January', 'February', 'March']:
        return "Quarter 1"
    elif x in ['April', 'May','June']:
        return "Quarter 2"
    elif x in ['July', 'August','September']:
        return "Quarter 3"
    else:
        return "Quarter 4"
df["quarter"]=df["month"].apply(lambda x:func(x))

In [136]:
df["quarter"]

0      Quarter 4
1      Quarter 3
2      Quarter 4
3      Quarter 3
4      Quarter 4
         ...
495    Quarter 1
496    Quarter 2
497    Quarter 4
498    Quarter 3
499    Quarter 3
Name: quarter, Length: 500, dtype: object

In [154]:
df["ratings"].str.split('\n')

0          [5 out of 5 stars, 3 ratings]
1        [5 out of 5 stars, 149 ratings]
2      [4.5 out of 5 stars, 126 ratings]
3          [5 out of 5 stars, 8 ratings]
4           [3 out of 5 stars, 1 rating]
                     ...
495     [4.5 out of 5 stars, 14 ratings]
496       [5 out of 5 stars, 35 ratings]
497                      [Not rated yet]
498       [4 out of 5 stars, 36 ratings]
499       [5 out of 5 stars, 24 ratings]
Name: ratings, Length: 500, dtype: object

In [150]:
df["star_rating"]=df["ratings"].apply(lambda x:x.split('out')[0])

In [151]:
df["star_rating"]

0                 5
1                 5
2               4.5
3                 5
4                 3
           ...
495             4.5
496               5
497    Not rated yet
498               4
499               5
Name: star_rating, Length: 500, dtype: object

In [156]:
def extract_rating(text):
    ratings = text.split('\n')
    if len(ratings) > 1:
        rating_info = ratings[1].split(' ')
        if len(rating_info) > 0:
            return rating_info[0]
    return None  
df["no_rating"] = df["ratings"].apply(lambda x: extract_rating(x))

In [157]:
df["no_rating"]

0         3
1       149
2       126
3         8
4         1
       ...
495      14
496      35
497    None
498      36
499      24
Name: no_rating, Length: 500, dtype: object

In [161]:
df.loc[0]

BookName        The Magicians of Mazda (Hindi Edition)
authorname                               Ashwin Sanghi
narratorname                              Kamal Sharma
length                              17 hrs and 24 mins
language                                         Hindi
date                               2023-10-31 00:00:00
ratings                    5 out of 5 stars\n3 ratings
bookname                       The Magicians of Mazda
hours                                              17
year                                              2023
month                                          October
quarter                                      Quarter 4
star_rating                                         5
no_rating                                            3
Name: 0, dtype: object

#### Drop  unnecessary columns

In [163]:
df.drop(['BookName','ratings'],inplace=True,axis=1)

#### To export the dataframe in csv format

In [164]:
df.to_csv("scraped_dataset_audible")